<div class="row heading-panel">
  <div class="col-sm-9">
    <h2>Категории</h2>
    <h3>Месячный бюджет <span>{{$ctrl.defaultCosts[0].CURRENT_VALUE}} из</span> <span>{{$ctrl.defaultCosts[0].DEFAULT_VALUE}} руб.</span>
    </h3>
  </div>
  <div class="col-sm-3">
    <div class="t-R"><a ui-sref="costs-plan" class="btn btn-default">План бюджета <span class="glyphicon glyphicon-cog"></span></a></div>
  </div>
</div>
<div class="categories row">
	<div class="col-sm-3 item" ng-repeat="category in $ctrl.categories">
	  <div class="inner">
	    <h4>{{category.name}}</h4>
	    <p><span class="js-current">{{$ctrl._Categories.TOTAL}}</span> из <span class="js-max-value">{{category.MAX_VALUE}}</span> руб.</p>
	    <a ui-sref="category-detail({categoryId: category.id})" class="btn btn-primary">Подробнее</a>
	  </div>
	</div>
</div>
<div class="t-C m-b-5">
  <a href="#" class="btn btn-success">Добавить категорию <span class="glyphicon glyphicon-plus"></span></a>
</div>